body {
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 15px;
}

#root, .App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.sliders {
  display: flex;
  flex-direction: column;
  border: 1px solid #2B60DE;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.slider-wrapper {
  display: flex;
  width: 600px;
  margin: 5px;
}

.slider-wrapper >input {
  width: 400px;
  margin-left: auto;
}

.slider-value {
  width: 40px;
  margin-left: 10px;
}

